
  .grid {
    width: 280px;
    min-height: 250px;
    border: 2px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding: 15px;
    text-align: center;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  .grid img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  